body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}
h1{
    font-size: 3rem;
    font-weight: 700;
    text-align:left; 
}
h4{
    font-size: 2rem;
    font-weight: 700;
}
a{
    text-decoration: none;
    font-weight: 600;
}
p{
    font-size: 1.2rem;
    margin-bottom: 4rem;
    
}
.btn{
    padding: .7rem 1.5rem;
    background: linear-gradient(to left, #ed213a, #93291e);
    border-radius: 2rem;
    color: #fff;
}

.common-section{
    padding: 0rem 3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
}

.top-section{
    background-image: url(../images/Frame\ 58.jpg);
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 2rem 0rem;
    
}
.logo a{
    font-size: 1.5rem;
    color: #c0392b;
}
.logo a::after{
    content: '>>';
    color:#8a2be2;
}
.logo a::before{
    content: '<<';
    color:#8a2be2;
}

.top-contact{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.top-contact h5{
    margin-right: 1rem;
}

.left-content{
    flex:2;
}

.left-content span{
    color: #e74c3c;
}
.right-content{
    flex:1;
}
.right-content img{
    max-width: 100%;
    max-height:100%;
}
.right-content{
    flex:1;
    justify-content: flex-end;
}
.right-content img{
    width:100%;
    max-height: 100%;
    
}
.left-content span{
    color: #e74c3c;
}
.right-content{
    flex:1;
}

.about-banner{
  display: flex;
}
.left-about{
    
    order: 2;
    width: 50%;
}

.right-about img{
    width:75%;
    max-height: 65%;
}
.right-about{
    flex: 1;
    order:1;
}